@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
article,
textarea,
select {
  font: inherit;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --clr-white: #fff;
  --clr-black-op: rgba(0, 0, 0, 0.751);
  --clr-title-primary: #333;
  --clr-title-secondary: #242424;
  --clr-font-primary: #777;
  --clr-btn-text: #3e3e3e;
  --clr-btn-bgr: #f3f3f3;
  --clr-btn-hov: #a9a9a9;
  --clr-btns-text: #fff;
  --clr-btns-bgr: #5F6E1E;
  --ff-primary: "Arial", "Helvetica", sans-serif;
  --ff-secondary: "Lato";
  --ff-subtitle-header: "Playfair Display";
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--clr-font-primary);
  line-height: 1.6;
  background-color: var(--clr-white);
  overflow-x: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 12px 20px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.6;
  -webkit-transition: background-color 0.4s, color 0.3s;
  -o-transition: background-color 0.4s, color 0.3s;
  transition: background-color 0.4s, color 0.3s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header__top {
  position: fixed;
  width: 100%;
  background-color: var(--clr-black-op);
  z-index: 10;
}
.header__center {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
.header__title {
  font-family: var(--ff-secondary);
  font-weight: 300;
  letter-spacing: 0.0625rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  color: var(--clr-white);
}
.header__subtitle {
  font-family: var(--ff-subtitle-header);
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 1.4375rem;
  font-weight: 700;
}
.header__subtitle span {
  display: block;
  font-style: italic;
}
.header .logo__img {
  max-width: 120px;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}
.header .menu__list {
  display: none;
}
.header .menu__btn {
  background-color: var(--clr-white);
  color: var(--clr-btn-text);
}

.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.product__info {
  text-align: center;
  width: 88%;
  background-color: var(--clr-white);
  padding: 0.9375rem;
  margin-top: -1.875rem;
}
.product__price {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.product__title {
  font-size: 1.125rem;
  color: var(--clr-title-secondary);
  margin-bottom: 0.625rem;
}