@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
article,
textarea,
select {
  font: inherit;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --clr-white: #fff;
  --clr-black-op: rgba(0, 0, 0, 0.751);
  --clr-title-primary: #333;
  --clr-title-secondary: #242424;
  --clr-font-primary: #777;
  --clr-btn-text: #3e3e3e;
  --clr-btn-bgr: #f3f3f3;
  --clr-btn-hov: #c0c0c0;
  --clr-btns-text: #fff;
  --clr-btns-bgr: #5F6E1E;
  --clr-btns-hover: #495416;
  --ff-primary: "Arial", "Helvetica", sans-serif;
  --ff-secondary: "Lato";
  --ff-subtitle-header: "Playfair Display";
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--clr-font-primary);
  line-height: 1.6;
  background-color: var(--clr-white);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 12px 20px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.6;
  -webkit-transition: background-color 0.4s, color 0.3s;
  -o-transition: background-color 0.4s, color 0.3s;
  transition: background-color 0.4s, color 0.3s;
}

.title {
  text-align: center;
  color: var(--clr-title-primary);
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 1.25rem;
  position: relative;
  padding-top: 80px;
}
.title span {
  font-weight: 600;
}
.title::before {
  position: absolute;
  content: "";
  background-image: url("../images/icon-logo.png");
  width: 73px;
  height: 76px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section {
  padding-top: 2.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header__top {
  position: fixed;
  width: 100%;
  background-color: var(--clr-black-op);
  z-index: 10;
}
.header__center {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
.header__title {
  font-family: var(--ff-secondary);
  font-weight: 300;
  letter-spacing: 0.0625rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  color: var(--clr-white);
  margin-bottom: 2.375rem;
}
@media screen and (min-width: 576px) {
  .header__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 1.0625rem;
  }
}
.header__subtitle {
  font-family: var(--ff-subtitle-header);
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 1.4375rem;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  .header__subtitle {
    font-size: 2.0625rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__subtitle {
    font-size: 2.3125rem;
  }
}
.header__subtitle span {
  display: block;
  font-style: italic;
}
.header .logo {
  margin-right: 0.625rem;
}
.header .logo__img {
  max-width: 120px;
}
.header__link {
  background-color: var(--clr-btns-bgr);
  color: var(--clr-btns-text);
}
.header__link:hover {
  background-color: var(--clr-btns-hover);
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 0;
}
.header .menu__list {
  display: none;
}
@media screen and (min-width: 992px) {
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: var(--clr-white);
    font-weight: 600;
  }
}
.header .menu__item--dd {
  margin-right: 0.9375rem;
}
.header .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media screen and (min-width: 992px) {
  .header .menu__link:hover {
    color: var(--clr-btn-hov);
  }
}
.header .menu .fa-chevron-down {
  color: var(--clr-btn-hov);
  font-size: 0.5rem;
}
.header .menu .dropdown {
  display: none;
  position: absolute;
  background-color: #000;
  padding: 1.5625rem 1.25rem;
  z-index: 1;
}
.header .menu .dropdown__item {
  color: var(--clr-btn-hov);
  text-transform: capitalize;
  padding: 0.3125rem 0.9375rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.header .menu .dropdown__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.header .menu .dropdown__item:hover {
  color: var(--clr-white);
}
.header .menu .menu__item:hover .dropdown {
  display: block;
}
.header .menu .flag {
  position: relative;
}
.header .menu .flag::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 12px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  left: -22px;
}
.header .menu .flag--eng::before {
  background-image: url("../images/en.png");
}
.header .menu .flag--rus::before {
  background-image: url("../images/ru.png");
}
.header .menu .burger {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 44px;
  height: 44px;
  margin-right: 0.3125rem;
  z-index: 13;
}
@media screen and (min-width: 992px) {
  .header .menu .burger {
    display: none;
  }
}
.header .menu .burger__item {
  position: absolute;
  width: 17px;
  height: 3px;
  right: 0;
  background-color: #fff;
  top: 21px;
  -webkit-transition: scale 0.2s;
  -o-transition: scale 0.2s;
  transition: scale 0.2s;
}
.header .menu .burger::before, .header .menu .burger::after {
  position: absolute;
  width: 17px;
  height: 2px;
  right: 0;
  background-color: #fff;
}
.header .menu .burger::before, .header .menu .burger::after {
  content: "";
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.header .menu .burger::before {
  top: 15px;
}
.header .menu .burger::after {
  bottom: 15px;
}
.header .menu__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 992px) {
  .header .menu__btns {
    gap: 1.25rem;
  }
}
.header .menu__btn {
  font-weight: 600;
  background-color: var(--clr-white);
  color: var(--clr-btn-text);
  margin-left: auto;
}
.header .menu__btn--tel {
  display: none;
}
@media screen and (min-width: 992px) {
  .header .menu__btn--tel {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .header .menu__btn {
    margin-left: 0;
  }
}
.header .menu .hover-btn:hover {
  background-color: var(--clr-btn-hov);
}

.legend__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .legend__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.legend__img {
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .legend__img {
    width: 50%;
    margin-bottom: 0rem;
    margin-right: 1.875rem;
  }
}
.legend__text {
  text-align: justify;
}

.gallery__items {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.375rem;
}
@media screen and (min-width: 768px) {
  .gallery__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.offer__title {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .offer__title {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .offer__title {
    font-size: 2.625rem;
  }
}
@media screen and (min-width: 638px) {
  .offer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.offer__buttons {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.offer__btn {
  color: inherit;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.offer__btn:hover {
  color: var(--clr-title-primary);
}
.offer__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--clr-btns-bgr);
  opacity: 1;
  -webkit-transform: translate3d(-200%, 0, 0);
          transform: translate3d(-200%, 0, 0);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}
.offer__btn:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.offer__item {
  display: none;
}
@media screen and (min-width: 768px) {
  .offer__item {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 0.625rem;
  }
}
.offer__item.active {
  display: block;
}
@media screen and (min-width: 768px) {
  .offer__item.active {
    display: grid;
  }
}
.offer .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.offer .product__info {
  text-align: center;
  width: 88%;
  background-color: var(--clr-white);
  padding: 0.9375rem;
  margin-top: -1.875rem;
}
.offer .product__price {
  display: block;
  color: var(--clr-btns-bgr);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.offer .product__title {
  font-size: 1.125rem;
  color: var(--clr-title-secondary);
  margin-bottom: 0.625rem;
}

.contact {
  background-color: #000;
  color: var(--clr-white);
}
@media screen and (min-width: 992px) {
  .contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contact__form {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .contact__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-right: 0.625rem;
    padding: 0 2.5rem 0;
  }
}
@media screen and (min-width: 992px) {
  .contact__map {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.contact__map iframe {
  width: 100%;
}
.contact__title {
  color: var(--clr-white);
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact__title {
    font-size: 2.625rem;
  }
}
.contact__title::before {
  background-image: url("../images/icon-logo-white.png");
}
.contact__text {
  text-align: center;
  margin-bottom: 1.5625rem;
}
.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 576px) {
  .contact .form__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
  }
}
@media screen and (min-width: 576px) {
  .contact .form__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 576px) {
  .contact .form__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}
.contact .form__lable {
  margin-bottom: 0.1875rem;
}
.contact .form__lable span {
  color: #ff0000;
}
.contact .form__input {
  width: 100%;
  height: 2.125rem;
  border-radius: 3px;
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
}
@media screen and (min-width: 576px) {
  .contact .form__input--text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.contact .form__input--tel {
  width: 80%;
}
@media screen and (min-width: 576px) {
  .contact .form__input--tel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}
.contact .form__btn {
  background-color: var(--clr-btns-bgr);
  color: var(--clr-btns-text);
  margin-bottom: 6.25rem;
}
.contact .form__btn:hover {
  background-color: var(--clr-btns-hover);
}

.slider .swiper__text p {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0.3125rem 0;
  text-align: center;
}
.slider .swiper__link {
  position: relative;
}
.slider .swiper__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.slider .swiper__link:hover::before {
  background-color: #000;
}
.slider .swiper__link::after {
  content: "";
  position: absolute;
  display: none;
  background-image: url("../images/icon-insta-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  right: 7px;
  bottom: 7px;
}
.slider .swiper__link:hover::after {
  display: block;
}
.slider .swiper__img {
  height: 21.875rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 480px) {
  .slider .swiper__img {
    height: 15.625rem;
  }
}
@media screen and (min-width: 640px) {
  .slider .swiper__img {
    height: 12.5rem;
  }
}
.slider .swiper-button-prev,
.slider .swiper-button-next {
  color: #000;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4078431373);
  -webkit-box-shadow: 2px 2px 6px rgb(90, 90, 90);
          box-shadow: 2px 2px 6px rgb(90, 90, 90);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.slider .swiper-button-prev:hover,
.slider .swiper-button-next:hover {
  background-color: var(--clr-white);
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.slider .swiper-button-prev:after,
.slider .swiper-button-next:after {
  font-size: 0.625rem;
  font-weight: 900;
}

.footer__logo {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 0;
  }
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.875rem;
  }
}
.footer__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  text-transform: uppercase;
  color: var(--clr-title-primary);
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1200px) {
  .footer__menu-items {
    margin-bottom: 0;
  }
}
.footer__menu-item {
  padding: 0.625rem;
}
.footer__link:hover {
  color: var(--clr-btn-hov);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 0.75rem 0.5625rem 0.875rem;
  border: 2px solid #d0d0d0;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: 12.5rem;
    margin-bottom: 0;
  }
}
.footer__social:hover {
  background-color: #774430;
  border: 2px solid transparent;
}
.footer__insta {
  font-size: 1.125rem;
  color: #898989;
}
.footer__social:hover .footer__insta {
  color: var(--clr-white);
}